.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top:0px;
    
}

.container-fluid{
    background:silver;
}

h2{
    font-family: fantasy;
    font-size: 3em;
    width: 400px;
    border-bottom: 5px solid black;
    text-align: center;
    align-items: center;
    box-shadow: 5px 5px 7px blue;
}
h2:hover{
    background-color: aqua;
}

img {
 width: 400px;
 height: 300px;
 margin: 5px;
 transition: all 0.5s;
}
img:hover{
    transform:scale(1.1)
}
